<mat-card>
  <mat-card-content>
    <div class="icons">
      <img [src]="lineChart" alt="linechart" (click)="getLineChart()" />
      <img [src]="columnChart" alt="columnchart" (click)="getColumnChart()" />
      <img [src]="areaChart" alt="areachart" (click)="getAreaChart()" />
    </div>
    <figure class="highcharts-figure">
      <div
        id="highchart-container"
        style="
          min-width: 310px;
          max-width: 800px;
          height: 400px;
          margin: 0 auto;
        "
      ></div>
    </figure>
  </mat-card-content>
</mat-card>
