.dashboard-container {
  margin: 0 1vw;
}

mat-toolbar {
  margin-bottom: 2vh;
  margin-top: 0;
  display: block;
}

.quick-stats {
  justify-content: space-around;
  display: flex;
  column-gap: 2vw;
}

.quick-stats mat-card {
  flex: 1;
  margin: 4px;
}

.country-data,
.world-data {
  height: 27vh;
  background: rgb(249, 249, 249);
}

.country-analysis {
  margin-top: 1vh;
}

.fa-ambulance {
  color: rgb(55, 168, 248);
}

.fa-heartbeat {
  color: rgb(24, 233, 24);
}

.fa-stethoscope {
  color: rgb(192, 6, 6);
}

small {
  color: grey;
}

button {
  margin: 1vw 0;
}

@media only screen and (max-width: 960px) {
  .quick-stats {
    display: inline-block;
  }
  .quick-stats mat-card {
    display: block;
    width: 90vw;
    height: 27vh;
    margin: 0 5vh;
    align-self: center;
    margin-bottom: 1vh;
  }
}

.quick-stats mat-card {
  background: #f5f5f5;
}
