.dashboard-container {
  margin: 0 1vw;
}

.country-data,
.world-data {
  height: 27vh;
}

.country-analysis {
  margin-top: 1vh;
}

.fa-ambulance {
  color: rgb(55, 168, 248);
}

.fa-heartbeat {
  color: rgb(24, 233, 24);
}

.fa-stethoscope {
  color: rgb(192, 6, 6);
}

small {
  color: grey;
}

@media only screen and (max-width: 960px) {
  mat-card {
    width: 90vw;
    height: auto;
  }
}
