<div class="dashboard-container" *ngIf="loadedWorldData$ | async">
  <div
    class="quick-stats"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap="25px"
  >
    <mat-card
      class="world-data"
      fxFlex="calc(33%-25px)"
      fxFlex.sm="calc(50%-25px)"
    >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>World Statistics</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <i class="fa fa-ambulance"></i> Confirmed cases -
          {{ (worldData$ | async).totalConfirmed }}
        </div>
        <div>
          <i class="fa fa-list-alt"></i> Deaths -
          {{ (worldData$ | async).totalDeaths }}
        </div>
        <div>
          <i class="fa fa-heartbeat"></i> Recovered -
          {{ (worldData$ | async).totalRecovered }}
        </div>
        <div>
          <i class="fa fa-stethoscope"></i> Active Cases -
          {{
            (worldData$ | async).totalConfirmed -
              ((worldData$ | async).totalRecovered +
                (worldData$ | async).totalDeaths)
          }}
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card
      class="world-data"
      fxFlex="calc(33%-25px)"
      fxFlex.sm="calc(50%-25px)"
    >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Tanzania Statistics</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <i class="fa fa-ambulance"></i> Confirmed cases -
          {{ (worldData$ | async).totalConfirmed }}
        </div>
        <div>
          <i class="fa fa-list-alt"></i> Deaths -
          {{ (worldData$ | async).totalDeaths }}
        </div>
        <div>
          <i class="fa fa-heartbeat"></i> Recovered -
          {{ (worldData$ | async).totalRecovered }}
        </div>
        <div>
          <i class="fa fa-stethoscope"></i>
          Active Cases -
          {{
            (worldData$ | async).totalConfirmed -
              ((worldData$ | async).totalRecovered +
                (worldData$ | async).totalDeaths)
          }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
